
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pokeSolid;
  src: url('../poke-font/Pokemon_Solid.ttf');
}

@font-face {
  font-family: pokeHollow;
  src: url('../poke-font/Pokemon_Hollow.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: pokeSolid;
}

body {
  font-family: pokeSolid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


